
<%= simple_form_for(list) do |f| %>
  <div class="form-control formulaire">
    <%= f.input :name %>
    <%= f.input :photo, as: :file %>
    <div class="form-actions button m-0">
      <%= f.button :submit %>
    </div>
  </div>
<% end %>
